*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
    padding: 20px 0 80px 0;
    background-color: rgb(147, 199, 245);
    border: 2px solid aqua;
}

.menu{
    display: inline-flex;
    width: 100%;
}

.logo-menu{
    width: 50%;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
.menuItens{
    width: 100%;
    text-align: right;
    margin-right: 6%;
    margin-top: 5mm;
    text-decoration: none;
}

.menuItens span{
    display: inline-block;
    flex-direction: row;
    text-decoration: none;
    margin-right: 2%;
    font-size: 17px;
    color: #FFFFFF;
}

.menuItens span:hover{
    border-bottom:2px solid #FFFFFF;
}

.painel{
    display: inline-block;
    margin-top: 10%;
    align-items: center;
}

.painel button{
    padding: 5px 8px 5px 8px;
    margin: 5px;
    text-decoration: none;
    background-color: aliceblue;
    border: none;
    border-radius: 30%;
}

.container{
    margin: 12% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time{
    margin: 25% auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 90px;
    color: aliceblue;
}

.circle{
    display: flex;
    margin: 2% auto;
    padding: 20px;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    border-style: double;
    border-color: white;
    background-color: #AFDEFA;
}
