
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Section principal do  site (Timer principal, main do site) */

#body{
    background-color: rgb(147, 199, 245);
}

.main{
    display: flex;
    flex-wrap: wrap;
    min-height: 970px;
    padding: 20px 0 80px 0;
    border: 2px solid rgb(83, 135, 248);
    border-radius: 8px;
}

.menu{
    display: inline-flex;
    width: 100%;
}

.logo-menu{
    width: 50%;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
.menuItens{
    width: 100%;
    text-align: right;
    margin-right: 6%;
    margin-top: 5mm;
    text-decoration: none;
}

.menuItens span{
    display: inline-block;
    flex-direction: row;
    text-decoration: none;
    margin-right: 2%;
    font-size: 17px;
    color: #FFFFFF;
}

.menuItens span:hover{
    border-bottom:2px solid #FFFFFF;
}

.painel{
    display: inline-block;
    margin-top: 10%;
    align-items: center;
}

.painel button{
    padding: 5px 8px 5px 8px;
    margin: 5px;
    text-decoration: none;
    background-color: aliceblue;
    border: none;
    border-radius: 40%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12% auto;
}

.circle{
    display: flex;
    align-items: center;
    width: 280px; 
    height: 280px; 
    border-radius: 50%;
    border: 2px solid white;
    background-color: #AFDEFA;
}

.time{
    display: flex;
    font-size: 90px;
    margin: 25% auto;
    color: aliceblue;
}

/* Section dois do site (informações do uso do pomodoro) */

.infoPomodoro{
    display: flex;
    flex-wrap: wrap;
    min-height: 970px;
    padding: 20px 0 80px 0;
    border-radius: 8px;
    background-color: #FFFFFF;
}
